<mat-tab-group dynamicHeight mat-stretch-tabs>
	<mat-tab label="Mission Statement">
		<ng-template matTabContent>
			<p>LoyaltyTracking consists of a highly skillful team, with vast experience in top management, sales and marketing in the software communications industry, as well as in the health care community. This is the set point by which we comprehend the true importance of establishment a customer-supplier long term partnership, to ensure customers loyalty.</p>
			<p>
				<q class="orange">The best way to put distance between you and the crowd is to do an outstanding job with information. How you gather, manage, and use information will determine whether you win or lose</q>
				<cite>Bill Gates, Chairman and former CEO Microsoft</cite>
			</p>
			<p>LoyaltyTracking reveals your client’s perception through highly engaging and intimate interviews, which provide insight into their true perceptions regarding satisfaction, loyalty and needs. LoyaltyTracking helps you manage, share and apply customer data in order to optimize customer loyalty.</p>
		</ng-template>
	</mat-tab>
	<mat-tab label="Value Proposition">
		<ng-template matTabContent>
			<h3 class="orange">LoyaltyTracking Insights Will Help You:</h3>
			<ul>
				<li>
					<p>Increase your business success and customers’ satisfaction by providing genuine insights of the way they perceive you, thus paving the road to customer retention and up-selling.</p>
				</li>
				<li>
					<p>Align critical customer feedback to your company's objectives, aiming to improve performance through a framework of actionable improvement plan.</p>
				</li>
				<li>
					<p>Demonstrate the concern and value you feel towards your cliental.</p>
				</li>
				<li>
					<p>Develop a more concise set of objectives in collaboration with business partners.</p>
				</li>
				<li>
					<p>Target your improvement efforts to significant and genuine concerns.</p>
				</li>
				<li>
					<p>Assist in providing a clear definition of your business objective.</p>
				</li>
				<li>
					<p>Increase customer satisfaction and customer service, thereby encouraging loyal buying behavior.</p>
				</li>
			</ul>

			<h3 class="orange">LoyaltyTracking Case Study:</h3>
			<p>LoyaltyTracking insights of an American vendor resulted in direct contribution of 5% - 12% revenue annually of one of our clients- a midsize multinational company:</p>
			<ul>
				<li>
					<p>Over $1,000,000 additional product sales to other customer departments.</p>
				</li>
				<li>
					<p>$100,000 for additional system training.</p>
				</li>
				<li>
					<p>10% increase in maintenance budget.</p>
				</li>
			</ul>

			<h3 class="orange">The Loyalty Matrix:</h3>
			<p>Allan S. Dick (SUNY Buffalo) and Kunal Basu (McGill University) are viewed as experts in customer loyalty psychology. They view customer loyalty as the strength of the relationship between an individual's relative attitude and repeat patronage. LT provides your company with a customer loyalty mapping based on the Dick-Basu Loyalty Matrix. In addition, LT provides your organization with an ultimate actionable improvement plan resulting from the analyzed data. This plan is an invaluable tool with which to increase your shareholder’s profitability.</p>
			<p>LT also specializes in the implementation of quality and process management programs which can help your organization leverage the Loyalty Matrix results.</p>
		</ng-template>
	</mat-tab>
</mat-tab-group>
