<p class="orange">
	LoyaltyTracking excels in increasing customer-vendor effective communication, aiming to minimize expectation gaps and optimize the win-win dynamic.
</p>
<p>
	By providing a loyalty matrix of your accounts, LoyaltyTracking helps to leverage your customers’ base stability as a foundation to growth.
</p>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px">
	<mat-card>
		<mat-card-title><h2>Revealing Customer Loyalty</h2></mat-card-title>
		<mat-card-content>
			<p>
				The most mission critical data your organization can collect cannot be found on any database! The most important information is found in your client’s thoughts and perceptions regarding the way you do business. <a routerLink="about-us">Read More</a>.
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title><h2>Retention Through Attention</h2></mat-card-title>
		<mat-card-content>
			<p>
				LoyaltyTracking insights will help you increase your business success and customers’ satisfaction by providing genuine insights of the way they perceive you, thus paving the road to customer retention and up-selling. <a routerLink="about-us">Read More</a>.
			</p>
		</mat-card-content>
	</mat-card>
</div>

<p>
	<q class="orange">
		There is only one boss. The customer. And he can fire everybody in the company from the chairman on down, simply by spending his money somewhere else.
	</q>
	<cite>Sam Walton, Founder Wal-Mart Stores Inc.</cite>
</p>
