<mat-toolbar>
	<mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
		<img height="100%" src="assets/images/logos/main-logo.jpg" alt="Main Logo">
		<nav fxShow fxHide.lt-md>
			<a mat-button routerLink="/home">Home</a>
			<a mat-button routerLink="/about-us">About Us</a>
			<a mat-button routerLink="/deliverables">Deliverables</a>
			<a mat-button routerLink="/customers">Customers</a>
			<a mat-button routerLink="/testimonials">Testimonials</a>
			<a mat-button routerLink="/contact-us">Contact Us</a>
		</nav>
		<button mat-button [matMenuTriggerFor]="menu" fxHide fxShow.lt-md>Navigation</button>
		<mat-menu #menu="matMenu">
			<a mat-button fxFill routerLink="/home">Home</a>
			<a mat-button fxFill routerLink="/about-us">About Us</a>
			<a mat-button fxFill routerLink="/deliverables">Deliverables</a>
			<a mat-button fxFill routerLink="/customers">Customers</a>
			<a mat-button fxFill routerLink="/testimonials">Testimonials</a>
			<a mat-button fxFill routerLink="/contact-us">Contact Us</a>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>
