<h1>We’re having a problem displaying the page that you requested. Please try the following suggestions:</h1>
<ol>
	<li>
		<p>If you typed or pasted the address, make sure that you did not make a mistake. If there was a mistake, enter the correct address</p>
	</li>
	<li>
		<p>If the problem recurs, please notify us at <a href="mailto:webmaster@loyaltytracking.com">webmaster@loyaltytracking.com</a> with the following details:</p>
		<ul>
			<li>Computer specifications</li>
			<li>Browser specifications</li>
			<li>What page you were trying to reach</li>
			<li>Other helpful details</li>
		</ul>
	</li>
</ol>
